<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<body>
		<footer th:fragment="footer" class="footer">
			<h3><img src="img/footer.png" style="height: 30px;"/></h3>
			<div class="padding-mid"></div>
			<div class="container pmargintop">
				<div class="row" >
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<p class="copy-right" style="font-size: 12px;">panpan61803@gmail.com</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<p class="copy-right" style="font-size: 12px;"><a href="https://weibo.com/3730905253/profile?rightmod=1&wvr=6&mod=personinfo">微博:扶联起来_</a></p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<p class="copy-right" style="font-size: 12px;">蜀ICP备18001270号-1</p>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
						<p class="copy-right" style="font-size: 12px;">&copy; 2018-1-30 Abner</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html> 		
