<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    
    <title>test</title>
	
	<link rel="stylesheet" href="inc/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/components/sticky.css" /> 
	<link rel="stylesheet" href="css/uikit.gradient.css" /> 
    <link href="css/menu.css" rel="stylesheet">
    <link href="css/pstyle.css" rel="stylesheet">
  </head>
  
  <body style="background: #fff;">
  <ul class="post post-works">
	  <li>
		  <div class="shade" style="opacity: 0;"></div>
		  <!--  -->
		  <div class="cover pos">
			  <a href="http://www.ui.cn/detail/322067.html" target="_blank" title="SA9527-中国式草根设计师的自我提升">
				  <img width="280" height="210" src="img/P6.jpg" data-original="img/P6.jpg"  alt="SA9527-中国式草根设计师的自我提升" rel="nofollow" style="display: inline;">
			  </a>
		  </div>
		  <div class="info">
			  这里是文字
		  </div>
	  </li>
  </ul>
         
	<!--==========Plugins JS ==========-->      
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/uikit.js"></script>
	<script src="js/components/sticky.js"></script>	
	<script src="js/pan.js"></script>

	
	
	
  </body>
</html>
