<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    
    <title>blog</title>
	
	
	<link rel="stylesheet" href="inc/font-awesome/css/font-awesome.min.css">  <!-- Font Icons -->
	<link rel="stylesheet" href="inc/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="inc/owl-carousel/css/owl.carousel.css">
	<link rel="stylesheet" href="css/mobile.css">
	<link rel="stylesheet" href="css/skin/cool-gray.css">
	<link rel="stylesheet" href="css/components/sticky.css" /> 
	
	<link rel="stylesheet" href="css/uikit.gradient.css" /> 
	<link rel="stylesheet" href="css/pstyle.css" /> 
    <link rel="stylesheet" href="css/menu.css" >
  </head>
  
  <body>
  
	<div th:replace="navbar-left :: navbar-left"></div>
	<div th:replace="navbar :: navbar2"></div>
		
   	<!--==========BEGIN TOPCARD ==========-->    
   	<div class="container">
    	<div class="col-xs-12 topcard pmargin-lg bg-white min-shadow min-radius" >
    		<span class="in-topcard"><a href="newblog"><i class="uk-icon-pencil padding-right-5"></i>写博客</a></span>
    		<span class="in-topcard-last"><a href="newblog"><i class="uk-icon-paw padding-right-5"></i>分享故事</a></span>
    	</div>
   	</div>
   	<!--==========END TOPCARD ==========-->
   	
    <div class="container">
		<div class="col-sm-12 nopadding bg-white min-radius  min-shadow">
			<div class="col-sm-3 nopadding">
				<div class="picCard padding-sm min-radius">
					<a>
						<div class="pic-container pmargin-bottom  uk-overlay-hover">
							<img src="img/P6.jpg" >
							<figcaption class="uk-overlay-panel uk-overlay-background">...</figcaption>
						</div>
					</a>
					<a>
						<div class="pic-user">
							<img class="pic-heading uk-border-circle" src="img/head.jpg">
							<span class="pic-username">这是文字是文是文文文是文是文文文文文文</span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 nopadding">
				<div class="picCard padding-sm min-radius">
					<a>
						<div class="pic-container pmargin-bottom">
							<div class="pic-detail padding-mid">这是文字</div>
							<img src="img/P6.jpg" >
						</div>
					</a>
					<a>
						<div class="pic-user">
							<img class="pic-heading uk-border-circle" src="img/head.jpg">
							<span class="pic-username">这是文字是文是文文文是文是文文文文文文</span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 nopadding">
				<div class="picCard padding-sm min-radius">
					<a>
						<div class="pic-container pmargin-bottom">
							<div class="pic-detail padding-mid">这是文字</div>
							<img src="img/P6.jpg" >
						</div>
					</a>
					<a>
						<div class="pic-user">
							<img class="pic-heading uk-border-circle" src="img/head.jpg">
							<span class="pic-username">这是文字是文是文文文是文是文文文文文文</span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 nopadding">
				<div class="picCard padding-sm min-radius">
					<a>
						<div class="pic-container pmargin-bottom">
							<div class="pic-detail padding-mid">这是文字</div>
							<img src="img/P6.jpg" >
						</div>
					</a>
					<a>
						<div class="pic-user">
							<img class="pic-heading uk-border-circle" src="img/head.jpg">
							<span class="pic-username">这是文字是文是文文文是文是文文文文文文</span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 nopadding">
				<div class="picCard padding-sm min-radius">
					<a>
						<div class="pic-container pmargin-bottom">
							<div class="pic-detail padding-mid">这是文字</div>
							<img src="img/P6.jpg" >
						</div>
					</a>
					<a>
						<div class="pic-user">
							<img class="pic-heading uk-border-circle" src="img/head.jpg">
							<span class="pic-username">这是文字是文是文文文是文是文文文文文文</span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 nopadding">
				<div class="picCard padding-sm min-radius">
					<a>
						<div class="pic-container pmargin-bottom">
							<div class="pic-detail padding-mid">这是文字</div>
							<img src="img/P6.jpg" >
						</div>
					</a>
					<a>
						<div class="pic-user">
							<img class="pic-heading uk-border-circle" src="img/head.jpg">
							<span class="pic-username">这是文字是文是文文文是文是文文文文文文</span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 nopadding">
				<div class="picCard padding-sm min-radius">
					<a>
						<div class="pic-container pmargin-bottom">
							<div class="pic-detail padding-mid">这是文字</div>
							<img src="img/P6.jpg" >
						</div>
					</a>
					<a>
						<div class="pic-user">
							<img class="pic-heading uk-border-circle" src="img/head.jpg">
							<span class="pic-username">这是文字是文是文文文是文是文文文文文文</span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 nopadding">
				<div class="picCard padding-sm min-radius">
					<a>
						<div class="pic-container pmargin-bottom">
							<div class="pic-detail padding-mid">这是文字</div>
							<img src="img/P6.jpg" >
						</div>
					</a>
					<a>
						<div class="pic-user">
							<img class="pic-heading uk-border-circle" src="img/head.jpg">
							<span class="pic-username">这是文字是文是文文文是文是文文文文文文</span>
						</div>
					</a>
				</div>
			</div>












		<div class="padding-top-lg"></div>
	</div>


  
     
         
         
	<div class="col-sm-12 bg-balck" style="height: 500px;">
	</div>

         
	<!--==========Plugins JS ==========-->      
	<script src="inc/jquery/jquery-1.11.1.min.js"></script>
	<script src="js/uikit.js"></script>
	<script src="js/components/sticky.js"></script>	
	<script src="js/pan.js"></script>	

	<!--去掉所有正文格式-->
	<script type="text/javascript">
		$(function () {
			var contentHide=document.getElementsByName("artileContentHide");
			var content=document.getElementsByName("artileContent");
            for(var i=0;i<contentHide.length;i++){
                content[i].innerHTML=contentHide[i].innerHTML.replace(/<[^>].*?>/g,"");
            }
        })
	</script>
	<script type="text/javascript">
        function insertDiv(data) {
            var showMore=$("#showMore");
            var html="";
            for (var i=0;i<data.length;i++){
                html+='<div class="card">';
                html+='<div class="incard-top">';
                html+='<span class="inbottom-left-lg" style="block">';
                html+='来自<span>'+data[i].selectionName+'</span>';
                html+='</span>';
                html+='<span class="inbottom-left-lg">';
                html+=data[i].createUser;
                html+='</span>';
                html+='</div>';
                html+='<a href="/toBlogPage?articleId=';
                html+=data[i].articleId;
                html+='">';
                html+='<div class="incard-title">';
                html+='<strong>';
                html+=data[i].title;
                html+='</strong>';
                html+='</div>';
                html+='<div class="incard-text" name="artileContent">';
                html+=data[i].content.replace(/<[^>].*?>/g,"");
                html+='</div>';
                html+='</a>';
                html+='<div class="incard-bottom">';
                html+='<div class="inbottom-left uk-icon-commenting">';
                html+='999人评论';
                html+='</div>';
                html+='</div>';
                html+='</div>';
            }
            showMore.before(html);
        }

		var pageNum=2;
		var totalPages=$("#totalPages").html();
		var flag = true;
		$(window).scroll(
			function() {
				var scrollHeight = $(document).height()-500; //距离整个文档底部500高度，不随div增加而改变
				var scrollTop = $(this).scrollTop();  //滚动条y轴位置
				var windowHeight = $(this).height();  //窗口可视高度
				if ( scrollTop + windowHeight >= scrollHeight && flag == true && pageNum<=totalPages) {
					$.ajax({
						type:"post",
						url:"/showMoreBlog",
						data:{pageNum:pageNum},
						dataType:'json',
						async: false,
						beforeSend:function(){
							flag = false;
							pageNum+=1;
							if(pageNum>=totalPages){
								$("#showMore").show();
							}
						},
						success:function (data) {
							if(data==-1){
								$("#showMore").show();
							}else {
								insertDiv(data);
							}
						},
						complete:function(){
							flag = true;
						}
					})
				}
			}
		);


	</script>
	
	
	
  </body>
</html>
