<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
	<link rel="shortcut icon" href="img/logo.ico" type="image/x-icon">
	<link rel="Bookmark" href="img/logo.ico">
    <title>小熊博客</title>

	  <link rel="stylesheet" href="//cdn.bootcss.com/uikit/2.25.0/css/uikit.css" />
	<link rel="stylesheet" href="inc/font-awesome/css/font-awesome.min.css">  <!-- Font Icons -->
	  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="inc/owl-carousel/css/owl.carousel.css">
	<link rel="stylesheet" href="css/mobile.css">
	<link rel="stylesheet" href="css/skin/cool-gray.css">
	<link rel="stylesheet" href="css/components/sticky.css" />

	<link rel="stylesheet" href="css/pstyle.css" />
    <link href="css/menu.css" rel="stylesheet">
  </head>

  <body >
	<div th:replace="navbar-left :: navbar-left"></div>
	<div th:replace="navbar :: navbar2"></div>
	<div class="container">
		<form id="secretForm">
		<div class="col-xs-12 pmargin-top-lg padding-mid bg-white min-shadow min-radius" >
			<textarea name="content" id="secretMain" class="secret-comment-main pmargin-small" placeholder="匿名言论"></textarea>
			<input type="button" onclick="newSecret()" class="secret-btn" value="发表" style="display: none;height: 0">
		</div>
		</form>
	</div>
	<div class="container main">
		<div class="col-xs-12  padding-mid bg-white min-shadow min-radius" >
			<div class="secretConrainer">
				<div th:each="secret:${dataList.list}" class="secret-box pmargin-bottom-lg">
					<a><p th:text="${secret.content}">这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字这是文字</p></a>
					<div  class="secret-replay pmargin-bottom" style="display: none">
						<div th:each="comment:${secret.comments}">
							<span th:text="${commentStat.count}+'#'">1#</span>
							<span th:text="${comment.content}">这是是一楼</span>
						</div>
					</div>
					<div  class="secret-bottom color-light">
						<span th:text="${secret.comments.size()}+'人评论'" onclick="showSecretReplay(this)">8条评论</span>
						<span onclick="showInputBox(this)">&emsp;回复</span>
					</div>
					<input name="secretId" type="hidden" th:value="${secret.secretId}">
				</div>
			</div>
			<div class="page-load-status">
				<span style="display: none" id="totalPage" th:text="${dataList.pages}"></span>
				<div class="loader-ellips infinite-scroll-request">
					<span class="loader-ellips__dot"></span>
					<span class="loader-ellips__dot"></span>
					<span class="loader-ellips__dot"></span>
					<span class="loader-ellips__dot"></span>
				</div>
				<p class="infinite-scroll-last">别拉了,下边没有啦~</p>
				<p class="infinite-scroll-error">No more pages to load</p>
			</div>
		</div>
	</div>




	<a href="#" ><i class="uk-icon-arrow-up toTop "></i></a> <!-- Scroll to top button -->
	<div th:replace="footer :: footer"></div>


	<!--==========Plugins JS ==========-->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="//cdn.bootcss.com/uikit/2.25.0/js/uikit.js"></script>
	<script src="js/components/sticky.js"></script>
	<script src="js/pan.js"></script>
	<script src="inc/jquery.easing.min.js"></script>
	<script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>

  <script type="text/javascript">
	  function newSecret() {
	      var $secretMain=$("#secretMain").val();
	      if($secretMain == "" || $secretMain == null){
	          alert("写点什么东西吧~")
		  }else {
              $.ajax({
                  type:"post",
                  url:"/saveSecret",
                  data:$("#secretForm").serialize(),
                  dataType:'json',
                  async: false,
                  success:function (data) {
                      if(data==-100){
                          alert("出错啦")
                      }else {
                          window.location.reload();
                          $("#secretMain").val("");
                      }
                  }
              })
          }
      }
      function replaySb(obj) {
          var $replayText=$(obj).prev("#replayText").val();
          var $secretId=$(obj).next().next().val();
          var formData = new FormData();
          formData.append("parentId",$secretId);
          formData.append("content",$replayText);
          $.ajax({
              type:"post",
              url:"/saveSecret",
              data:formData,
              dataType:'json',
              async: false,
              processData: false,  // 告诉jQuery不要去处理发送的数据
              contentType: false,
              success:function (data) {
                  if(data==-100){
                      alert("出错啦")
                  }else {
                      window.location.reload();
                      $("#replayText").val("");
                  }
              }
          })
      }
  </script>
  <script type="text/javascript">
      jQuery(document).ready(function($) {
          var totalPage=Number($("#totalPage").text());
          $('.secretConrainer').infiniteScroll({
              append: '.secret-box',
              path: function () {
                  if(this.loadCount <totalPage-1){
                      var pageNum= this.loadCount + 2;;
                      return "/toSecret?pageNum="+pageNum;
                  }
              },
              status: '.page-load-status',
          });
	  })
  </script>
  </body>
</html>
